doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        title Zooooom 
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Welcome to Zooooom
        main 
            //- h2
            //- form#nickname
            //-     input(type="text", placeholder="nickname")
            //-     button Save
            //- ul
            //- form#message
            //-     input(type="text", placeholder="write a message", required)
            //-     button Send
            div#welcome
                form(action="") 
                    input(type="text", placeholder="room name", required)
                    button Enter Room
            div#room
                h3
                ul 
                form(action="") 
                    input(type="text", placeholder="message", required)
                    button Send
        script(src="/socket.io/socket.io.js")
        script(src="public/js/app.js")