doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        title Zooooom 
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Hello World!
        main 
            h2 Welcome to Zooooom
        script(src="public/js/app.js")